.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.color {
    background: var(--system-violet, #6725a8);
}

/* Шапка */

.header {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 16px 3px 0 24px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    position: relative;
}

.header::after {
    content: "";
    display: block;
    width: 100%;
    height: 24px;
    border-radius: 24px 24px 0 0;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.header_content-row {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 47px 0px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.header_nav {
    display: flex;
    width: 171px;
    height: 56px;
    align-items: center;
    gap: 16px;
}

.nav_burgerButton {
    background: 0 0;
    padding: 21px 9px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.nav_burgerButton-off::before {
    top: -10px;
}

.nav_burgerButton-off {
    width: 28px;
    height: 4px;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.nav_burgerButton-off::after {
    bottom: -10px;
}

.nav_burgerButton-off::before,
.nav_burgerButton-off::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.nav_logo {
    padding: 1px 0px 7px 0px;
    color: #ffffff;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 0.56px;
}

.header_search {
    display: flex;
    gap: 8px;
    height: 48px;
    width: 930px;
    padding: 0px 20px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 36px;
    background: rgb(133 81 185);
}

.search-input {
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    background: rgb(133 81 185);
    cursor: pointer;
}

.search-input::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.search-btn {
    background-image: url(/img/icon/Search_lup.svg);
    background-size: cover;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
}

.header_profileBlock {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    align-self: stretch;
}

.profileBlock-part {
    display: flex;
    width: 56px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

.profileBlock-lk {
    background-image: url(/img/icon/icon-28.svg);
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.profileBlock_text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
}

.profileBlock-basket {
    background-image: url(/img/icon/icon-282.svg);
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

/* Основной блок */

.main {
    display: flex;
}

.main_content {
    display: flex;
    flex-direction: column;
    padding: 0px 24px 0px 24px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.content_basket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.basket_header>h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    color: #000000;
}
.basket_header>h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.basket_cheker {
    display: flex;
    width: 891px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.cheker_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.part_chekText_block {
    display: flex;
    align-items: center;
    gap: 11px;
    align-self: stretch;
    cursor: pointer;
}

.part_chekText_block {
    display: flex;
    align-items: center;
    gap: 11px;
    align-self: stretch;
    flex-direction: row;
}

.chekText-arrow {
    display: block;
    background-image: url(/img/icon/iconArrow.svg);
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.chekText {
    display: flex;
    align-items: center;
}

.chekText-cliker {
    display: block;
    background-image: url(/img/icon/checkboxoff.svg);
    width: 22px;
    height: 22px;
}

.chekText-text {
    display: block;
}

.cheker_part {
    display: flex;
    width: 891px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.cheker_part-topBorder {
    border-top: 1px solid #0000001A;
}

.cheker_part-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.cards_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: row;
}

.cards_block-photo {
    display: flex;
    padding-top: 12px;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    flex-direction: row;
    width: 397px;
}

.titleCard{
    width: 250px;
}

.cards_block-sum.margin { 
    margin-right: -45px;
}


.cards_block-sum {
    display: flex;
    width: 226px;
    padding-top: 9px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-direction: row;
}

.block-photo_cardAndCheck {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
}

.block-photo_opis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.card {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    color: #0000000D;
}

.photo1 {
    background-image: url(/img/1400px/Frame_3853.png);
}
.photo2 {
    background-image: url(/img/1400px/Frame_2.png);
}
.photo3 {
    background-image: url(/img/1400px/Fram_3.png);
}
.photo1.negative{
    background-image: url(/img/1400px/Frame_3853-negative.png);
}
.photo2.negative{
    background-image: url(/img/1400px/Frame_277132129-negative.png);
}
.photo3.negative{
    background-image: url(/img/1400px/Frame_3-negative.png);
}


.titleCard {
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.colorSize {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    flex-direction: row;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.infoProduct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.textCard {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

}

.colorGrey{
    color: #9797AF;
}
.colorRed{
    color: #FF3B30; 
    width: 100px;
}

.textWrong {
    display: flex;
    height: 16px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    flex-direction: row;
}

.Wrong {
    width: 20px;
    height: 20px;
    background-image: url(/img/icon/icon-Wrong.svg);
}

.block-sum_count {
    display: flex;
    padding-top: 3px;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.counter {
    width: 100px;
    height: 44px;
    display: flex;
    flex-direction: row;
}

.counter_minus,
.counter_plus {
    background: 0 0;
    padding: 0;
    border: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.counter_minus::after,
.counter_plus::after {
    content: '';
    width: 12px;
    height: 2px;
    background-color: #242424;
    border-radius: 4px;
    display: block;
    left: calc(50% - 6px);
    position: absolute;
    top: 50%;
}

.counter_plus::before {
    transform: rotate(-90deg);
    content: '';
    width: 12px;
    height: 2px;
    background-color: #242424;
    border-radius: 4px;
    display: block;
    left: calc(50% - 6px);
    position: absolute;
    top: 50%;
}

.disable::after {
    background-color: #bfbfc9;
}

.disable::before {
    background-color: #bfbfc9;
}

.number {
    display: flex;
    width: 44px;
    height: 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000000;
}

.counter_button__conteiner{
    display: flex;
    width: 24px;
    padding: 2px 7px 6px 8px;
    justify-content: center;
    align-items: center;
}

.block-sum_likeCart { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.iconLike { 
    background-image: url(/img/icon/icon_Like.svg);
    width: 20px;
    height: 20px;
}
.iconCart { 
    background-image: url(/img/icon/icon_Cart.svg);
    width: 20px;
    height: 20px;
}

.block-sum_price { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.price { 
    display: flex;
    align-items: baseline;
    color: #000000;
    gap: 5px;
}
.oldPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.price_nominal {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -0.2px;
    text-align: left;
}
.price_valute { 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    text-align: right;
}
.oldPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    color: #9797AF;
}
.oldPrice_sum { 
    text-decoration: line-through;
    border-bottom: 1px dashed #9797AF;
}
.inWork{
    align-self: stretch;
}
.inWork_part { 
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.part_delivery { 
    padding: 16px 0px 24px 0px;
    align-items: center;
    gap: 24px;
}
.part_pay { 
    padding: 16px 24px 24px 24px;
    gap: 8px;
    align-items: flex-start;
}
.part_recipient {
    padding: 16px 24px 24px 24px;
    align-items: flex-start;
    gap: 16px;
}
.part_delivery_way {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
}
.delivery_return {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch; 
}
.inWork_header { 
    display: flex;
    padding: 0px 24px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.inWork_heder_title {
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    flex: 1 0 0;
}
.inWork_header_button{
    display: flex;
    padding-top: 7px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #CB11AB;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
}
.inWork_content { 
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
.inWork_content_data{
    display: flex;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.inWork_content_data.flex {
    flex: 1 0 0;
    padding-right: 0px;
}
.data_block {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
}
.size_punkt{
    height: 44px;
}
.size_prise {
    height: 24px;
}
.size_date {
    height: 56px;
}
.inWork_content_info {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}
.info_punkt{
    display: flex;
    width: 398px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.punkt_adres{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.punkt_adres_info{
    display: flex;
    align-items: center;
    gap: 8px;
}
.rep {
    display: flex;
    padding: 2px 0px;
    align-items: center;
    gap: 2px;
    flex-direction: row;
}
.rep_text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.star {
    width: 12px;
    height: 12px;
    display: flex;
    padding: 2px 0px;
    align-items: center;
    gap: 2px;
    background-image: url(/img/icon/star_fill.svg);
}
.Content_goods {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.goods {
    display: flex;
    height: 56px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
}
.good1 { 
    width: 40px;
    height: 56px;
    background-image: url(/img/1400px/Bitmap.png);
}
.good2 {
    width: 40px;
    height: 56px;
    background-image: url(/img/1400px/Bitmap_2.png);
}
.good3 { 
    width: 40px;
    height: 56px;
    background-image: url(/img/1400px/Bitmap_3.png);
}

.part { }
.delivery_return { 
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.part_delivery_container { 
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.conteiner_return{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.return_icon{
    width: 22px;
    height: 22px;
    background-image: url(/img/icon/price_shipping.svg);
}
.return_agre{
    display: flex;
    align-items: baseline;
    gap: 4px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.textGreen{
    color: #0CB477;
}


/* Подвал */

.footer {
    display: flex;
    padding: 48px 0 24px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    position: relative;
    color: #FFFFFFB2;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.footer::after {
    content: "";
    display: block;
    width: 100%;
    height: 24px;
    border-radius: 0 0 24px 24px;
    background: #fff;
    position: absolute;
    bottom: 64px;
    left: 0;
}